aclocal.m4
autom4te.cache/
aux/
config.h*
config.log
config.status
configure
libtool
stamp-h1

pkgIndex.tcl
tclreadline.h
tclreadline.n
tclreadlineInit.tcl
tclreadlineSetup.tcl

Makefile
Makefile.in

*.la
*.lai
*.lo
*.o
*.Po
*.Plo
*.so

tclshrl
wishrl
